/* dropdowns */

.dropdowns {
    width: 80%;
    display: grid;
    gap: 1.5em;
    position: relative;
    overflow: visible;
    background-color: rebeccapurple;
    margin: 0 auto;
}

.dropdowns__container {
    display: grid;
    gap: 1.5em;
    width: 80%;
}

.dropdown {
    color: var(--secondary);
    background-color: var(--primary);
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: .5em;
}

.dropdown__checkbox {
    pointer-events: none;
}

.dropdown__checkbox--none {
    display: none;
}

.dropdown__menu {
    position: relative;
    width: 85%;
    place-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 1.7em 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown__title {
    max-width: 80%;
    line-height: 1.5rem;
}

.dropdown__icon {
    display: flex;
    right: 0;
    position: absolute;
    transition: opacity .3s;
    font-size: 2.5em;
}

.dropdown__icon--hidden {
    font-size: 3.2em;
    opacity: 0;
}

.dropdown__checkbox:checked+.dropdown__menu .dropdown__icon--show {
    opacity: 0;
    transition: .3s opacity;
}

.dropdown__checkbox:checked+.dropdown__menu .dropdown__icon--hidden {
    opacity: 1;
    transition: opacity .3s .3s;
}

.dropdown__checkbox:not(:checked)+.dropdown__menu .dropdown__icon--show {
    opacity: 1;
    transition: .3s opacity;
}

.dropdown__content {
    position: relative;
    left: 0;
    right: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    display: flex;
    justify-content: center;
}

.dropdown .dropdown__checkbox:checked+.dropdown__menu+.dropdown__content {
    max-height: max-content;
}

.dropdown__info {
    width: 85%;
    font-size: 1rem;
    line-height: 1.7rem;
    padding-bottom: 1.5em;
}

.dropdown__lists {
    padding-bottom: 1em;
    padding-left: 2em;
    display: grid;
    gap: .5em;
}

.dropdown__list {
    list-style: unset;
}

.dropdown__list a {
    text-decoration: underline;
    color: inherit;
}

.dropdown__list a:hover {
    text-decoration: none;
}

.dropdowns__icon {
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    margin: 0 auto;

    display: flex;
    width: 60px;
    height: 60px;
    background-color: var(--primary);
    padding: .6em;
    border-radius: 50%;
    color: var(--secondary);
    cursor: pointer;
    box-shadow: 0px 0px 0px 2px var(--secondary), 0px 0px 0px 4px var(--primary);
}

.dropdowns__icon:hover {
    background-color: var(--quaternary);
    color: var(--tertiary);
    box-shadow: 0px 0px 0px 2px var(--secondary), 0px 0px 0px 4px var(--quaternary);
}
